In [2]:
import pandas as pd

In [5]:
pd.DataFrame(zip(range(1,11), range(600,610), range(950,960)), columns=['a', 'b', 'c'])

    a    b    c
0   1  600  950
1   2  601  951
2   3  602  952
3   4  603  953
4   5  604  954
5   6  605  955
6   7  606  956
7   8  607  957
8   9  608  958
9  10  609  959

In [8]:
list(zip([1, 2, 3], [4,5,6],[7,8,9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [6]:
'test'

'test'

In [7]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19